[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
black = "*"
check-sources = {editable = true, path = "."}
clang-format = "*"
cmake-format = "*"
shfmt-py = "*"
enlighten = "*"
gitpython = "*"
importlib-resources = "*"
infer_license = "*"
python-magic = "*"
pyyaml = "*"

[requires]
python_version = "3"

[pipenv]
allow_prereleases = true
