Device {
 Name = "vdisk-"
 Description = "autonumbered disk devices for file backups"
 # Will create multiple devices vdisk-0001 to vdisk-0010
 # Adjust your needs depending of your storage performances.
 Count = 10
 Media Type = "File"
 Device Type = "File"
 Archive device = "/var/lib/bareos/storage"
 LabelMedia = Yes
 Random Access = Yes
 AutomaticMount = Yes
 RemovableMedia = No
 Maximum Concurrent Jobs = 1
 Maximum File Size = 100GB
}
