#!/usr/bin/make -f
# -*- makefile -*-
# Sample debian/rules that uses debhelper.
#
# This file was originally written by Joey Hess and Craig Small.
# As a special exception, when this file is copied by dh-make into a
# dh-make output file, you may use that output file without restriction.
# This special exception was added by Craig Small in version 0.37 of dh-make.
#
# Modified to make a template file for a multi-binary package with separated
# build-arch and build-indep targets  by Bill Allombert 2001

BAREOS_VERSION := $(shell dpkg-parsechangelog | egrep '^Version:' | sed 's/Version: //g')

# Uncomment this to turn on verbose mode.
export DH_VERBOSE = 1

# This has to be exported to make some magic below work.
export DH_OPTIONS = -v

override_dh_auto_configure:
	dh_auto_configure -- -DSHARE_INSTALL_PREFIX:PATH=/usr/share -Dsysconfdir=/etc -Dconfdir=/etc/bareos -Dwebuiconfdir=/etc/bareos-webui -DVERSION_STRING=\"$(BAREOS_VERSION)\"

override_dh_install:
	dh_install

%:
	dh $@
