BasedOnStyle: Google
Language: Cpp
Standard: Cpp11
BreakBeforeBraces: Custom
BraceWrapping:
   AfterFunction: true
   AfterEnum: true
ColumnLimit: 80
Cpp11BracedListStyle: true
AlignConsecutiveAssignments: false
AlignConsecutiveDeclarations: false
AlignTrailingComments: true
AlignOperands: true
AllowAllParametersOfDeclarationOnNextLine: false
AllowShortBlocksOnASingleLine: true
AllowShortFunctionsOnASingleLine: true
BinPackParameters: false
BreakConstructorInitializers: BeforeComma
BreakBeforeInheritanceComma: true
BreakBeforeTernaryOperators: true
DerivePointerAlignment: false
MaxEmptyLinesToKeep: 2
PointerAlignment: Left
SortIncludes: false
ForEachMacros: ['foreach_alist', 'foreach_alist_index', 'foreach_alist_rindex', 'foreach_child', 'foreach_dlist', 'foreach_htable', 'foreach_jcr', 'foreach_rblist', 'foreach_res', 'foreach_vol']
