*~
*.aux
*.backup
*.cdx
*.ddx
*.dvi
*.fdx
*.idx
*.ilg
*.ind
*.log
*.maf
*.mox
*.mtc*
*.out
*.sdx
*.toc
*.sty
#autoconf/Make.common
#autom4te.cache
#bsysmanual
#covers
#config.*
#images/pdf
#images/png
#images/svg
#images/eps
#manuals/*/*/version.tex
manuals/*/utility/utilityi*
manuals/*/misc/misci*
manuals/*/console/consolei*
manuals/*/developers/developersi*
#manuals/*/images
manuals/*/main/maini*
manuals/*/www-*
manuals/*/console/console.pdf
manuals/*/console/console/
manuals/*/developers/developers.pdf
manuals/*/developers/developers/
manuals/*/main/main.pdf
manuals/*/main/main/
manuals/*/misc/misc.pdf
manuals/*/misc/misc/
manuals/*/problems/problems.pdf
manuals/*/problems/problems/
manuals/*/utility/utility.pdf
manuals/*/utility/utility/
tools/wholemenu_*
