<?xml version="1.0" encoding="UTF-8"?>

<phpunit bootstrap="tests/Bootstrap.php" colors="true">
	<testsuites>
		<testsuite name="barbossa">
			<directory>./tests/JobTest</directory>
			<directory>./tests/DashboardTest</directory>
			<directory>./tests/DirectorTest</directory>
			<directory>./tests/ClientTest</directory>
			<directory>./tests/PoolTest</directory>
			<directory>./tests/MediaTest</directory>
			<directory>./tests/StorageTest</directory>
			<directory>./tests/FileTest</directory>
			<directory>./tests/LogTest</directory>
			<directory>./tests/RestoreTest</directory>
			<directory>./tests/StatisticsTest</directory>
			<directory>./tests/AdminTest</directory>
			<directory>./tests/UserTest</directory>
		</testsuite>
	</testsuites>
</phpunit>
