Storage {
  Name = ObjectS3
  Address  = "Replace this by the Bareos Storage Daemon FQDN or IP address"
  Password = "Replace this by the Bareos Storage Daemon director password"
  Device = ObjectStorage
  Media Type = S3_File1
}

