Storage {
  Name = Rados
  Address  = "Replace this by the Bareos Storage Daemon FQDN or IP address"
  Password = "Replace this by the Bareos Storage Daemon director password"
  Device = RadosStorage
  Media Type = RadosFile
}

