#
# Preparations:
#
# on Linux use "lsscsi --generic"
# to get a list of your SCSI devices.
# However, normaly you should access your devices by-id
# (eg. /dev/tape/by-id/scsi-SSTK_L700_XYZZY_A) or by-path,
# because the short device names like /dev/sg7
# might change on reboot.
#

Autochanger {
  Name = "autochanger-0"
  # adapt this, to match your storage loader
  Changer Device = /dev/tape/by-id/scsi-1TANDBERGStorageLoader_AA45JC001732

  # an Autochanger can contain multiple drive devices
  Device = tapedrive-0
  #Device = tapedrive-1

  Changer Command = "/usr/lib/bareos/scripts/mtx-changer %c %o %S %a %d"
}

