Device {
  Name = S3_ObjectStorage
  Media Type = S3_Object1
  Archive Device = S3 Object Storage

  #
  # Device Options:
  #    profile= - Droplet profile path, e.g. /etc/bareos/bareos-sd.d/droplet/droplet.profile
  #    location= - AWS location (e.g. us-east etc.). Optional.
  #    acl= - Canned ACL
  #    storageclass= - Storage Class to use.
  #    bucket= - Bucket to store objects in.
  #    chunksize= - Size of Volume Chunks (default = 10 Mb)
  #    iothreads= - Number of IO-threads to use for upload (use blocking uploads if not defined)
  #    ioslots= - Number of IO-slots per IO-thread (0-255, default 10)
  #    retries= - Number of retires if a write fails (0-255, default = 0, which means unlimited retries)
  #    mmap - Use mmap to allocate Chunk memory instead of malloc().
  #

  # testing:
  Device Options = "profile=/etc/bareos/bareos-sd.d/droplet/droplet.profile,bucket=bareos-bucket,chunksize=100M,iothreads=0,retries=1"

  # performance:
  #Device Options = "profile=/etc/bareos/bareos-sd.d/droplet/droplet.profile,bucket=bareos-bucket,chunksize=100M"

  Device Type = droplet
  LabelMedia = yes                    # lets Bareos label unlabeled media
  Random Access = yes
  AutomaticMount = yes                # when device opened, read it
  RemovableMedia = no
  AlwaysOpen = no
  Description = "S3 device"
  Maximum File Size = 500M            # 500 MB (allows for seeking to small portions of the Volume)
  Maximum Concurrent Jobs = 1
  Maximum Spool Size = 15000M
}
