<?xml version="1.0" encoding="UTF-8"?>

<phpunit bootstrap="Bootstrap.php" colors="true">
	<testsuites>
		<testsuite name="barbossa">
			<directory>./JobTest</directory>
			<directory>./DashboardTest</directory>
			<directory>./DirectorTest</directory>
			<directory>./FilesetTest</directory>
			<directory>./ClientTest</directory>
			<directory>./PoolTest</directory>
			<directory>./MediaTest</directory>
			<directory>./StorageTest</directory>
			<directory>./FileTest</directory>
			<directory>./LogTest</directory>
			<directory>./RestoreTest</directory>
			<directory>./StatisticsTest</directory>
			<directory>./AdminTest</directory>
			<directory>./UserTest</directory>
		</testsuite>
	</testsuites>
</phpunit>
