#
# Preparations:
#
# on Linux use "lsscsi --generic"
# to get a list of your SCSI devices.
# However, normaly you should access your devices by-id
# (eg. /dev/tape/by-id/scsi-350011d00018a5f03-nst),
# because the short device names like /dev/nst1
# might change on reboot.
#

Device {

    Name = "tapedrive-0"
    DeviceType = tape

    # default:0, only required if the autoloader have multiple drives.
    DriveIndex = 0

    # if only one drive is available, this is normally /dev/nst0.
    # However, it is advised to access it via id (/dev/tape/by-id/...).
    ArchiveDevice = /dev/nst0
    #ArchiveDevice = /dev/tape/by-id/scsi-350011d00018a5f03-nst

    # arbitrary string that descripes the the storage media.
    # Bareos uses this to determine, which device can be handle what media.
    MediaType = LTO

    # enable "Check Labels" if tapes with ANSI/IBM labels
    # should be preserved
    #Check Labels = yes

    AutoChanger = yes                       # default: no
    AutomaticMount = yes                    # default: no
    MaximumFileSize = 10GB                  # default: 1000000000 (1GB)
}

