# Generic host, but can't access buckets younger than 24h:
host = s3.amazonaws.com
# Region specific host name. Can access also new buckets.
#host = s3.eu-central-1.amazonaws.com
use_https = true
backend = s3
aws_region = eu-central-1
aws_auth_sign_version = 4
access_key = "CHANGEME"
secret_key = "CHANGEME"
pricing_dir = ""

