/*****************************************************************************
/
/ old colours:
/       red: #9f1515;
/
/************************************************************************** */

/*****************************************************************************
/
/ page header
/
/************************************************************************** */

div.userBar {
        padding-right: 5px;
        padding-left: 5px;
        background-color: #002244;
        color: #ffffff;
        position: absolute;
        right: 0px;
        top: 50px;
        font-size: 12px;
        line-height: 25px;
}

div.searchBar {
        padding-right: 5px;
        padding-left: 5px;
        background-color: #002244;
        color: #ffffff;
}

/* height 34 */
table.searchBar {
        width: 100%;
        height: 34px;
}

input.searchBar {
        color: white;
        background-color: #749aba;
        border: 0px;
}

input.searchBar#text {
        border: 1px solid white;
}

input.searchBar#button {
        color: #002244;
        border: 1px solid white;
}

/* height 96 */
div.pageLogo {
        height: 94px;
        background-color: #749aba;
        border-top: 1px solid #002244;
        border-bottom: 1px solid #002244;
        padding-right: 15px;
        vertical-align: middle;
}

table.pageLogo {
        border-collapse: collapse;
        width: 100%;
        height: 100%;
}

div.icons {
        text-align: center;
        margin: 5px;
}

/*****************************************************************************
/
/ page menu left
/
/************************************************************************** */

/* positioning of the menu */
div.menuLeft {
        position:       absolute;
        top:            129px;
        left:           0px;
        width:          175px;
        color:          white;
        background-color:       #749aba;
        border-right: 1px solid #002244;
}

/* menu main topic */
div.menuHead {
        text-align:     center;
        vertical-align: middle;
        padding-top:    3px;
        padding-bottom: 3px;
        padding-left:   20px;
        padding-right:  20px;
        font-weight:    bold;
        background-color:  #002244;
        line-height: 18px;
}

/* menu item */
div.menuItem {
        line-height: 16px;
        margin-bottom: 8px;
}

ul.menuitem {
}

li.menuItem {
        list-style-type: square;
}

li.menuItem:hover {
        list-style-type: disc;
        color: #990000;
}

li.menuItem a {
        color: white;
        text-decoration: none;
}

li.menuItem a:link,active,hover,visited {
        text-decoration: none;
}

/*****************************************************************************/

div.pageTopRight {
        padding: 4px 15px 5px 15px;
        font-size: 14px;
        color: white;
        background-color: #002244;
        position:       absolute;
        right:  0px;
        top:            129px;
        margin-bottom: 20px;
}

/****************************************************************************/

div.pageContent {
        position: absolute;
        margin-top: 70px;
        right: 20px;
        left: 195px;
}

td.contentTopic {
        font-size: 26px; 
        font-weight: bold;
        border-bottom: 2px dotted #002244;
        padding-bottom: 10px;
}

td.content {
        font-size: 14px;
        padding: 20px;
        line-height: 22px;
}

/****************************************************************************/

div.login {
        text-align: center;
        vertical-align: middle;
        width: 100%;
        height: 300px;
}

/****************************************************************************/

ul.hardware {
        margin-left: -25px;
}

/*****************************************************************************
 *      Site-Properties
 */
html, body {
        /* removes white border in crappy IE */
        margin: 0px;
        padding: 0px;
        border: 0px;

        font-family: Verdana, Arial, Helvetica, Sans-Serif;
        font-size: 12px;
        color: #002244;
        background-color: #ffffff;
        background: url("../images/paper.jpg") transparent;
}

/** site wide links **/
a {
        color: #002244;
        text-decoration: underline;
}
a:link {
        text-decoration: underline;
}
a:visited {
        text-decoration: underline;
}
a:hover {
        text-decoration: underline;
}
a:active {
        text-decoration: underline;
}

/** site wide properties **/
td {
        vertical-align: top;
}

img {
        vertical-align: middle;
        border: 0px;
}

dt {
        font-style: oblique;
}

h3 {
        margin-top: 35px;
}

pre.code {
        background-color: #ffffcd;
        color: #000000;
        padding: 10px;
        margin-left: 20px;
        margin-right: 20px;
        border: 2px dotted #000000;
        font-size: 12px;
        font-family: monospace, serif;
        text-align: left;
}

p.error {
        width: 500px;
        height: 200px; 
        padding: 20px;
        border: 6px ridge #002244;
        vertical-align: middle;
        display: table-cell;
        font-size: 20px;
        line-height: 36px;
}

table.news {
}

td.newsHeader {
        background-color: #002244;
        color: white;
        vertical-align: middle;
        font-weight:    bold;
        line-height: 28px;
        text-indent: 1em;
}

td.newsContent {
        background-color:       #749aba;
        color: white;
        padding-left: 3em;
        padding-right: 3em;
        border: 1px solid #002244;
}

td.newsFooter {
        font-size: small;
        text-align: right;
}


/* EOF */
