Storage {
  Name = Filechanger
  Description = "virtual file autochanger with autonumbered device"
  Address  = "Replace this by the Bareos Storage Daemon FQDN or IP address"
  Password = "Replace this by the Bareos Storage Daemon director password"
  Device = FilechangerStorage
  Media Type = File
  # Keep this synchronized with storage->device->vfile Count parameters
  Maximum Concurrent Jobs = 10
}
