platforms/aix/bareos-fd
platforms/darwin/resources/welcome.txt
platforms/darwin/resources/ReadMe.html
platforms/darwin/resources/com.bareos.bareos-fd.plist
platforms/darwin/resources/postinstall
platforms/darwin/resources/preinstall
platforms/darwin/resources/uninstall-bareos
platforms/debian/set_dbconfig_vars.sh
platforms/freebsd/bareos-dir
platforms/freebsd/bareos-fd
platforms/freebsd/bareos-sd
platforms/hurd/bareos-dir
platforms/hurd/bareos-fd
platforms/hurd/bareos-sd
platforms/openbsd/bareos-dir
platforms/openbsd/bareos-fd
platforms/openbsd/bareos-sd
platforms/redhat/bareos-dir
platforms/redhat/bareos-fd
platforms/redhat/bareos-sd
platforms/slackware/functions.bareos
platforms/slackware/rc.bareos-dir
platforms/slackware/rc.bareos-fd
platforms/slackware/rc.bareos-sd
platforms/solaris/bareos-dir
platforms/solaris/bareos-fd
platforms/solaris/bareos-sd
platforms/suse/bareos-dir
platforms/suse/bareos-fd
platforms/suse/bareos-sd
platforms/systemd/bareos-dir.service
platforms/systemd/bareos-fd.service
platforms/systemd/bareos-sd.service
platforms/univention/AppCenter/univention-bareos.ini
platforms/univention/conffiles/etc/apt/sources.list.d/60_bareos.list
scripts/bareos-config
scripts/bareos-explorer
scripts/bareos-glusterfind-wrapper
scripts/bareos-regress.conf
scripts/bareos
scripts/bconsole
scripts/disk-changer
scripts/logrotate
scripts/logwatch/logfile.bareos.conf
scripts/mtx-changer
scripts/bareos-config-lib.sh
scripts/bareos-ctl-dir
scripts/bareos-ctl-fd
scripts/bareos-ctl-sd
scripts/btraceback
src/cats/ddl/versions.map
src/cats/delete_catalog_backup
src/cats/drop_bareos_database
src/cats/install-default-backend
src/cats/make_catalog_backup
src/cats/make_catalog_backup.pl
src/cats/drop_bareos_tables
src/cats/make_bareos_tables
src/cats/update_bareos_tables
src/cats/create_bareos_database
src/cats/grant_bareos_privileges
src/console/bconsole.conf
src/defaultconfigs/bareos-dir.d/catalog/MyCatalog.conf
src/defaultconfigs/bareos-dir.d/client/bareos-fd.conf
src/defaultconfigs/bareos-dir.d/console/bareos-mon.conf
src/defaultconfigs/bareos-dir.d/director/bareos-dir.conf
src/defaultconfigs/bareos-dir.d/fileset/Catalog.conf
src/defaultconfigs/bareos-dir.d/fileset/LinuxAll.conf
src/defaultconfigs/bareos-dir.d/fileset/SelfTest.conf
src/defaultconfigs/bareos-dir.d/job/BackupCatalog.conf
src/defaultconfigs/bareos-dir.d/job/RestoreFiles.conf
src/defaultconfigs/bareos-dir.d/job/backup-bareos-fd.conf
src/defaultconfigs/bareos-dir.d/jobdefs/DefaultJob.conf
src/defaultconfigs/bareos-dir.d/messages/Daemon.conf
src/defaultconfigs/bareos-dir.d/messages/Standard.conf
src/defaultconfigs/bareos-dir.d/storage/File.conf
src/defaultconfigs/bareos-fd.d/client/myself.conf
src/defaultconfigs/bareos-fd.d/director/bareos-dir.conf
src/defaultconfigs/bareos-fd.d/director/bareos-mon.conf
src/defaultconfigs/bareos-sd.d/device/FileStorage.conf
src/defaultconfigs/bareos-sd.d/director/bareos-dir.conf
src/defaultconfigs/bareos-sd.d/director/bareos-mon.conf
src/defaultconfigs/bareos-sd.d/storage/bareos-sd.conf
src/defaultconfigs/tray-monitor.d/client/FileDaemon-local.conf
src/defaultconfigs/tray-monitor.d/director/Director-local.conf
src/defaultconfigs/tray-monitor.d/monitor/bareos-mon.conf
src/defaultconfigs/tray-monitor.d/storage/StorageDaemon-local.conf
src/include/config.h
src/plugins/filed/python-ldap-conf.d/bareos-dir.d/fileset/plugin-ldap.conf.example
src/plugins/filed/python-ovirt-conf.d/bareos-dir.d/fileset/plugin-ovirt.conf.example
src/qt-tray-monitor/bareos-tray-monitor.desktop
src/qt-tray-monitor/tray-monitor.pro
src/tests/configs/console-director/tls_disabled/bareos-dir.d/fileset/Catalog.conf
src/tests/configs/console-director/tls_disabled/bareos-dir.d/fileset/LinuxAll.conf
src/tests/configs/console-director/tls_disabled/bareos-dir.d/fileset/SelfTest.conf
src/tests/configs/console-director/tls_disabled/bareos-dir.d/job/BackupCatalog.conf
src/tests/configs/console-director/tls_disabled/bareos-dir.d/director/bareos-dir.conf
src/tests/configs/console-director/tls_disabled/bareos-dir.d/jobdefs/DefaultJob.conf
src/tests/configs/console-director/tls_disabled/bareos-dir.d/messages/Daemon.conf
src/tests/configs/console-director/tls_disabled/bareos-dir.d/messages/Standard.conf
src/tests/configs/console-director/tls_psk_default_enabled/bareos-dir.d/fileset/Catalog.conf
src/tests/configs/console-director/tls_psk_default_enabled/bareos-dir.d/fileset/LinuxAll.conf
src/tests/configs/console-director/tls_psk_default_enabled/bareos-dir.d/fileset/SelfTest.conf
src/tests/configs/console-director/tls_psk_default_enabled/bareos-dir.d/job/BackupCatalog.conf
src/tests/configs/console-director/tls_psk_default_enabled/bareos-dir.d/director/bareos-dir.conf
src/tests/configs/console-director/tls_psk_default_enabled/bareos-dir.d/jobdefs/DefaultJob.conf
src/tests/configs/console-director/tls_psk_default_enabled/bareos-dir.d/messages/Daemon.conf
src/tests/configs/console-director/tls_psk_default_enabled/bareos-dir.d/messages/Standard.conf
src/tests/configs/sd_reservation/bareos-sd.d/storage/myself.conf
src/win32/console/consoleres.rc
src/win32/dird/dbcheckres.rc
src/win32/dird/dirdres.rc
src/win32/filed/filedres.rc
src/win32/qt-tray-monitor/traymon.rc
src/win32/stored/bextractres.rc
src/win32/stored/blsres.rc
src/win32/stored/bscanres.rc
src/win32/stored/btaperes.rc
src/win32/stored/storedres.rc
src/win32/tools/bregexres.rc
src/win32/tools/bsmtpres.rc
src/win32/tools/bwildres.rc
