
# Permissions

* /etc/bareos/
  * by package (+ postinstall)
    * linux: u=rwx,g=rxs,o=rx, user=bareos, group=bareos
* /etc/bareos/bareos-dir.d/ ( -sd/)
  * by script
  * dirs:
    * linux: u=rwx,g=rxs,o=, user=bareos, group=bareos
    * macos: ug=rwX,o=, group=admin
  * files:
    * linux: u=rw,g=r,o=, user=bareos, group=bareos
    * macos: ug=rw,o=, group=admin
* /etc/bareos/bareos-fd.d/
  * dirs:
    * linux: u=rwx,g=rxs,o=, user=root, group=bareos
    * macos: ug=rw,o=, group=admin
  * files:
    * linux: u=rw,g=r,o=, user=root, group=bareos
    * macos: ug=rw,o=, group=admin
* /etc/bareos/bareos-dir-export/:
  * dirs:
    * u=rwx,g=rxs,o=, user=bareos, group=bareos
* /etc/bareos/bconsole.conf:
  * linux: u=rw,g=r,o=, user=root, group=bareos
  * macos: ug=rw,o=, group=admin
* /etc/bareos/tray-monitor.d/:
  * dirs:
    * linux: u=rwx,g=rxs,o=rx, user=bareos, group=bareos
  * files:
    * linux: u=rw,go=r, user=bareos, group=bareos
* /etc/bareos/.rndpwd: u=r,go=, user=root, group=root
