Source: bareos-webui
Section: web
Priority: extra
Maintainer: Bareos Packager <packager@bareos.org>
Build-Depends: debhelper (>= 7.0.50~),
  apache2-dev | apache2-prefork-dev,
  autoconf,
  automake
Standards-Version: 3.9.1
Homepage: https://github.com/bareos/bareos-webui
Vcs-Git: git://github.com/bareos/bareos-webui.git
Vcs-Browser: https://github.com/bareos/bareos-webui.git

Package: bareos-webui
Architecture: all
Depends: apache2 | httpd, libapache2-mod-php5 | php5 | php5-cgi, php5-cli, php5-gd, php5-json, php5-mysql | php5-pgsql | php5-sqlite3, zendframework, ${misc:Depends}
Recommends: sudo
Description: Bareos Web User Interface.
 Webinterface for the Bareos backup system.
