#!/bin/sh
# config maintainer script for univention-bareos

dbc_dbuser=bareos
dbc_dbname=bareos
dbc_authmethod_user=ident

# source debconf stuff
. /usr/share/debconf/confmodule
# source dbconfig-common shell library, and call the hook function
if [ -f /usr/share/dbconfig-common/dpkg/config.pgsql ]; then
	. /usr/share/dbconfig-common/dpkg/config.pgsql
DEBIAN_FRONTEND=noninteractive;export DEBIAN_FRONTEND
	dbc_go univention-bareos $@
fi

# ... rest of your code ...
