#
# Preparations:
#
# Copy ceph.conf and ceph.keyring from server /etc/ceph to clients /etc/ceph.
#
# Create a rados volume on the server:
# /usr/bin/rados lspools
# /usr/bin/rados mkpool bareos
# /usr/bin/rados df
#
# Old syntax:
#    Archive Device = /etc/ceph/ceph.conf:poolname
#
# New syntax:
#    Archive Device = <text>
#    Device Options = "conffile=/etc/ceph/ceph.conf,poolname=poolname"
#

Device {
  Name = RadosStorage
  Archive Device = "Rados Device"
  Device Options = "conffile=/etc/ceph/ceph.conf,poolname=poolname"
  Device Type = rados
  Media Type = RadosFile
  Label Media = yes
  Random Access = yes
  Automatic Mount = yes
  Removable Media = no
  Always Open = no
}

