#
# Preparations:
#
# Copy ceph.conf and ceph.keyring from server /etc/ceph to clients /etc/ceph.
#
# Create a rados volume on the server:
# /usr/bin/rados lspools
# /usr/bin/rados mkpool bareos
# /usr/bin/rados df
#
# Old syntax:
#    Archive Device = /etc/ceph/ceph.conf:poolname
#
# New syntax:
#    Archive Device = <text>
#    Device Options = "conffile=/etc/ceph/ceph.conf,poolname=poolname"
#
# If Bareos is compiled with rados-striper support,
# following additional "Device Options" are available:
#    * striped
#    * stripe_unit (default: 4194304)
#    * object_size (default: 4194304, should be a multiple of stripe_unit)
#    * stripe_count (default: 1. Larger vales can improve the performance)
#
# A reasonable setting with rados-striper is
#   Device Options = "conffile=/etc/ceph/ceph.conf,poolname=poolname,striped,stripe_unit=4194304,stripe_count=1"
#

Device {
  Name = RadosStorage
  Archive Device = "Rados Device"
  Device Options = "conffile=/etc/ceph/ceph.conf,poolname=poolname"
  Device Type = rados
  Media Type = RadosFile
  Label Media = yes
  Random Access = yes
  Automatic Mount = yes
  Removable Media = no
  Always Open = no
}

