Autochanger {
 Name = "diskchanger-0"
 Description = "Virtual Autochanger for disk based devices"
 # We don't have a real changer
 Changer Device = /dev/null
 # We don't have yet a smart disk changer
 Changer Command = ""
 # the Autochanger will contain multiple drive devices,
 # we use the autonumbering bareos function for that.
 # the following order is important
 # Reserved inactive drive autoselect=no for labeling and restores
 Device = vdisk-0000
 # The rest are the auto-numbered drives
 Device = vdisk-
}
