FileSet {
  Name = "plugin-gfapi"
  Include {
    Options {
      Signature = XXH128
      Aclsupport = Yes
      Xattrsupport = Yes
    }
    # adapt this to your environment
    Plugin = "gfapi:volume=gluster\\://glusterhost.example.com/dvol1/data:"
  }
}
