FileSet {
  Name = "plugin-gfapi"
  Include {
    Options {
      aclsupport = yes
      signature = xxh128
      xattrsupport = yes
    }
    # adapt this to your environment
    Plugin = "gfapi:volume=gluster\\://glusterhost.example.com/dvol1/data:"
  }
}
