Source: bareos-docs
Priority: extra
Maintainer: Joerg Steffens <joerg.steffens@bareos.com>
Build-Depends: bareos-director, bareos-database-sqlite3, bareos-storage, bareos-filedaemon, bareos-bconsole, bareos-traymonitor, debhelper, ghostscript, imagemagick, librsvg2-bin, pandoc, python, texlive-fonts-recommended, texlive-latex-recommended, tex4ht
Standards-Version: 3.8.4
Section: doc
Vcs-Git: https://github.com/bareos/bareos-docs.git
Vcs-Browser: https://github.com/bareos/bareos-docs
Homepage: http://www.bareos.org/


Package: bareos-docs
Section: doc
Architecture: all
Depends: ${misc:Depends}
Description: Backup Archiving Recovery Open Sourced - documentation
 Bareos is a set of programs to manage backup, recovery and verification
 of computer data across a network of computers of different kinds.
 .
 It is efficient and relatively easy to use, while offering many advanced
 storage management features that make it easy to find and recover lost or
 damaged files. Due to its modular design, Bareos is scalable from small
 single computer systems to networks of hundreds of machines.
 .
 This package contains the Bareos documentation.
