
FileSet {
  Name = "plugin-ldap"
  Include {
    Options {
      signature = MD5
    }
    # adapt the LDAP settings to your environment.
    # uri and basedn are mandantory,
    # base_dn and password are optional.
    Plugin = "python:module_path=/home/franku/01-prj/git/bareos-18.2-release-fixes/regress/bin/plugins:module_name=bareos-fd-ldap:uri=ldap\\://localhost:basedn=dc=example,dc=com:bind_dn=cn=admin,dc=example,dc=com:password=secret"
  }
}
