Device {
  Name = ObjectStorage
  Media Type = S3_File1
  Archive Device = Object S3 Storage
  #
  # Config options:
  #    profile= - Droplet profile to use either absolute PATH or logical name (e.g. ~/.droplet/<profile>.profile
  #    location= - AWS location (e.g. us-east etc.)
  #    acl= - Canned ACL
  #    storageclass= - Storage Class to use.
  #    bucket= - Bucket to store objects in.
  #    chunksize= - Size of Volume Chunks (default = 10 Mb)
  #    iothreads= - Number of IO-threads to use for uploads (use blocking uploads if not set.)
  #    ioslots= - Number of IO-slots per IO-thread (default 10)
  #    mmap - Use mmap to allocate Chunk memory instead of malloc().
  #
  Device Options = "profile=/etc/bareos/bareos-sd.d/.objectstorage/objectstorage.profile,bucket=bareos,iothreads=2"
  Device Type = object
  LabelMedia = yes                    # lets Bareos label unlabeled media
  Random Access = yes
  AutomaticMount = yes                # when device opened, read it
  RemovableMedia = no
  AlwaysOpen = no
  Description = "Object S3 device. A connecting Director must have the same Name and MediaType."
  Maximum File Size = 200000000       # 200 MB (Allows for seeking to small portions of the Volume)
}
