$primary   : #0075be;
$secondary : #5a6773;
$accent    : #f5a623;

$dark      : #1d1d1d;
$dark-page : #121212;

$positive  : #28a745;
$negative  : #dc3545;
$info      : #17a2b8;
$warning   : #ffc107;
