<?php

/**
 *
 * bareos-webui - Bareos Web-Frontend
 * 
 * @link      https://github.com/bareos/bareos-webui for the canonical source repository
 * @copyright Copyright (c) 2013-2014 dass-IT GmbH (http://www.dass-it.de/)
 * @license   GNU Affero General Public License (http://www.gnu.org/licenses/)
 * @author    Frank Bergkemper
 *
 * This program is free software: you can redistribute it and/or modify
 * it under the terms of the GNU Affero General Public License as published by
 * the Free Software Foundation, either version 3 of the License, or
 * (at your option) any later version.
 *
 * This program is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 * GNU Affero General Public License for more details.
 *
 * You should have received a copy of the GNU Affero General Public License
 * along with this program.  If not, see <http://www.gnu.org/licenses/>.
 *
 */

/**
 * Local Configuration Override
 *
 * This configuration override file is for overriding environment-specific and
 * security-sensitive configuration information. Copy this file without the
 * .dist extension at the end and populate values as needed.
 *
 * @NOTE: This file is ignored from Git by default with the .gitignore included.
 * This is a good practice, as it prevents sensitive credentials from accidentally 
 * being committed into version control.
 */

return array(

	'db' => array(

		// Set your database driver here: Pdo_Mysql, Pdo_Pgsql, Mysqli or Pgsql
		'driver' => 'Pdo_Pgsql', 
		// Set your database here
		'dbname' => 'bareos',
		// Set your hostname here
		'host' => 'localhost',
		// Set your username here
		'username' => 'bareos_webui',
		// Set your password here
		'password' => '',

	),
	'bconsole' => array(
                // Set full path to bconsole command
                'exec_path' => '/usr/sbin/bconsole',
                // Use sudo to execute bconsole command: true or false
                'sudo' => 'true',
                // Set full path to bconsole configuration file
                'config_path' => '/etc/bareos/bconsole.conf',
        ),

);
